.vscode/settings.json
news_scraped/
lyrics_from_viasona/
Looked Up Catalan words.txt
catalan_phrases.txt
my_data.csv
playground/
.idea/
.ipynb_checkpoints/
*.png
*.txt
*.mp3
django_project_gero/
env/
87 Open Random Image from Folder in Pc.exe
88_Logging_Practice.log
google.ico
google_search_gui.exe
sounds/some_video_didnt_work (enhanced).wav
data_gero.csv
Google_YouTube_Search_Gui.exe
Learn Basic Brazilian Portuguese/
.env
nltk_data/
make_gifs_practice/images/IMG_20210408_141755.jpg
make_gifs_practice/images/IMG_20210408_141919.jpg
make_gifs_practice/images/IMG_20210408_153019.jpg
make_gifs_practice/images/IMG_20210408_203122.jpg
make_gifs_practice/images/IMG_20210413_171259.jpg
TEST.md
⚛️ CURSO DE REACT 2023.md
datasets/youtube_data_gero.zip
new_env/
env/
__pycache__/
.vscode/
.jupyter/
.ipynb_checkpoints/
*.png
*.txt
*.mp3
.mypy_cache/
.ruff_cache/
.aider*
